# everything individually but not subdirectories
*
!*/

# basics
!public/**
!assets/**
!src/**
!*.js
!*.html
!*.jsx
!*.json
!*.sh
!*.md
!*.ps1

# special stuff
!*.yml

# re-ignores
node_modules/
build/
dist/
coverage/